@font-face {
	font-family: FuturaPT;
	src: url(FuturaPTMedium.otf);
}

.header-container {
	width: 100%;
	padding-top: 1vw;
	padding-bottom: 1vw;
	margin-bottom: 10px;
	box-shadow: 0 3px 0 0 rgba(0, 0, 0, .16);
	
	font-family: FuturaPT;
	font-weight: bold;
}

.header-container span {
	padding: 10px;
}

#title {
    background-image: url("title.jpg");
	background-size: cover;
	height: 45vh;
    width: 100%;
	text-align: center;
}

#title span {
	line-height: 45vh;
	vertical-align: middle;
	font-family: FuturaPT;
	font-size: 48px;
	color: white;
	background-color: rgba(255,255,255,0.5);
	padding: 50px;
}

.news {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4vw;
	margin-bottom: 4vw;
	border-radius: 10px;
	box-shadow: 6px 3px 6px 3px rgba(0, 0, 0, .16);
	border-collapse: separate;
	padding: 4vw;
	text-align: justify;
}

.news td {
	padding: 7px;
}

.bold_table_row {
	font-size: 22px;
	font-weight: bold;
}

.title_table_row {
	font-size: 20px;
}

.regular_table_row {
	font-size: 17px;
}

.footer-container {
	background-color: #4B4B4B;
	color: #BBBBBB;
	
	padding-left: 18.75vw;
	padding-right: 18.75vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
	
	font-family: FuturaPT;
	font-weight: bold;
}
