@font-face {
	font-family: FuturaPT;
	src: url(FuturaPTMedium.otf);
}

.header-container {
	width: 100%;
	padding-top: 1vw;
	padding-bottom: 1vw;
	margin-bottom: 10px;
	box-shadow: 0 3px 0 0 rgba(0, 0, 0, .16);
	
	font-family: FuturaPT;
	font-weight: bold;
}

.header-container span {
	padding: 10px;
}

#title {
    background-image: url("title.jpg");
	background-size: cover;
	height: 45vh;
    width: 100%;
	text-align: center;
}

#title span {
	line-height: 45vh;
	vertical-align: middle;
	font-family: FuturaPT;
	font-size: 48px;
	color: white;
	background-color: rgba(255,255,255,0.5);
	padding: 50px;
}

.news {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4vw;
	margin-bottom: 4vw;
	border-radius: 10px;
	box-shadow: 6px 3px 6px 3px rgba(0, 0, 0, .16);
	border-collapse: separate;
	padding: 2vw;
	text-align: justify;
}

.news td {
	padding: 7px;
}

.bold_table_row {
	font-size: 21px;
}

.title_table_row {
	font-size: 20px;
}

.regular_table_row {
	font-size: 17px;
}

.footer-container {
	background-color: #4B4B4B;
	color: #BBBBBB;
	
	padding-left: 18.75vw;
	padding-right: 18.75vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
	
	font-family: FuturaPT;
	font-weight: bold;
}

$blue:#0020C2;
$grey:#cccccc;
[type="submit"] {
	background: $blue;
	height: 35px;
	line-height: 35px;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: 0;
	border: none;
	outline: none;
	cursor: pointer;
	color: #fff;
	font-size: 1.1em;
	margin-bottom: 10px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	&:hover {
		background: darken($blue,7%);
	}
	&:focus {
		background: darken($blue,7%);
	}
}
